<!DOCTYPE html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <title>JD Quiz - HTMX</title>
  <meta name="description" content="JD Quiz made with HTMX">
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  <link href="/css/output.css" rel="stylesheet" type="text/css">

</head>
<body>
  <main hx-post="/form" hx-trigger="load" hx-swap="innerHTML" class="flex min-h-screen flex-col items-center justify-center bg-gradient-to-b from-green-400 to-blue-400">
  </main>
</body>
</html>